*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

.container {
  margin: 0px 283px 0px 283px;
     width: 414px;
}

meta {
  display: inline-block;
}

.css-selector {
  font-family: 'Roboto', serif;
}


.status-bar {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
}

img {
  width: 100%;
}

nav {
  padding: 10px 0 15px 15px;
  width: 100%;
  height: 49px;
  left: 0px;
  top: 23px;
  background-color: #FFFFFB;
}

.hamburger {
  float: left;
  width: 22px;
  padding-top: 1%;
}

.arrow {
float: left;
padding-top: 4%;
}

.arrow-left {
float: left;
padding-top: 2%;
width: 8%;
}

h1 {
float: left;
text-align: center;
padding-top: 1%;
width: 82%;
font-family: "Roboto";
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 24px;

color: #35393C;
}


h2 {
  font-size: 200%;
  font-weight: bold;
  color: #35393C;
}

h3 {
  font-size: 160%;
  font-weight: 400;
  color: #35393C;

}

.bus-stop {
  margin: 0px 283px 0px 283px;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 100%;
  height: 55px;
  left: 0px;
  top: 72px;
  background-color: #FFFFFB;


}

.recommended {
  width: 100%;
  height: 55px;
  left: 0%;
  background-color: #EAEAEA;
        padding-left: 5%;
}

.recommendedh2 {
  color: #35393C;
  padding: 15px 0 15px 0;
  font-size: 20px;
  font-weight: normal;
}


.bus-list-rec {
  background-color: #FFFFFB;
  width: 100%;
  border-top: 0px;

}

.bus-list-alt {
  background-color: #FFFFFB;
  width: 100%;
  border-top: 0px;

}

.location {
line-height: 1.3;
width: 100%;
padding-left: 5%;
display: inline-block;
border-bottom: 1px solid #A8A8A8;
        padding-top: 5px;
    padding-bottom: 5px;
}

.location-2 {
line-height: 1.3;
width: 100%;
padding-left: 5%;
display: inline-block;
        padding-top: 5px;
    padding-bottom: 5px;
}

.buslinebox {
  float: left;
  width: 20%;
  margin-top: 2.5%;
  background: #EAEAEA;
  border-radius: 10px;
}

.buslinenumber {

text-align: center;
padding-left: 3%;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 24px;

color: #35393C;
}

.arrivalbox {
  float: left;
  width: 16%;
  margin-top: 3.3%;
  margin-right: 7%;
  background: #EAEAEA;
  border-radius: 10px;
}

.arrivaltime {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;

  color: #35393C;
}



.alternate {
  width: 100%;
  height: 55px;
  left: 0px;
  background-color: #EAEAEA;
        padding-left: 5%;
}

.alternateh2 {
  color: #35393C;
  padding: 15px 0 15px 0px;
  font-size: 20px;
  font-weight: normal;
}

.content {
  float: left;
  width: 50%;
  text-align: center;
}
