*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.5;

}

.scroll {
  overflow-y: scroll; 
  width: 414px;
  height: 1000px;
}

.container {
  margin: 0px 283px 0px 283px;
  width: 414px;
  height: 1500px;
  overflow-y: scroll;

}

.status-bar {
  margin: 0 auto;
  position: fixed;
  width: 414px;
  height: 30px;
  background-color: #000000;
}

nav {
  margin: 0px 283px 0px 283px;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 414px;
  height: 49px;
  left: 0px;
  top: 23px;
  background-color: #FFFFFB;
}

.arrow {
float: left;
padding-top: 4%;
}

.arrow-left {
margin: 8px 7px 0 0;
}

h1 {
  padding:
width: 414px;
height: 43px;
left: 7px;
top: 72px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 36px;

color: #35393C;
}


h2 {
  font-size: 200%;
  font-weight: bold;
  color: #35393C;
}

h3 {
  font-size: 160%;
  font-weight: 400;
  color: #35393C;

}

.bus-stop {
  margin: 0px 283px 0px 283px;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 414px;
  height: 55px;
  left: 0px;
  top: 72px;
  background-color: #FFFFFB;

}

.recommended {
  margin: 0px 283px 0px 283px;
  position: fixed;
  width: 414px;
  height: 55px;
  left: 0%;
  background-color: #EAEAEA;
}

.recommendedh2 {
  position: fixed;
  color: #35393C;
  padding: 15px 0 15px 0;
  font-size: 20px;
  font-weight: normal;
}


.bus-list-rec {
  background-color: #FFFFFB;
  margin: 55px 0 0 -15px;
  width: 414px;
  border-top: 0px;

}

.bus-list-alt {
  background-color: #FFFFFB;
  margin: 55px 0 0 -15px;
  width: 414px;
  border-top: 0px;
  overflow-y: scroll; 
  height: 500px;

}

.location {
line-height: 1.3;
width: 100%;
padding-left: 5%;
display: inline-block;
border-bottom: 1px solid #A8A8A8;
}

.location-2 {
line-height: 1.3;
width: 100%;
padding-left: 5%;
display: inline-block;
}

.buslinebox {
  /*
  position: fixed;

  width: 91px;
  height: 37px;
  */
  float: left;
  width: 12%;
  margin-top: 2.5%;
  background: #EAEAEA;
  border-radius: 10px;
}

.buslinenumber {
/*
width: 42px;
height: 35px;
*/

text-align: center;
padding-left: 3%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 24px;

color: #35393C;
}

.arrivalbox {
  /*
  position: fixed;

  height: 18px;
  top: -55px;
  float: left;
  */
  float: left;
  width: 13%;
  margin-top: 4.3%;
  margin-right: 7%;

  /*
  left: 275px;
  top: -20px;
  */



  background: #EAEAEA;
  border-radius: 10px;
}

.arrivaltime {
/*
  height: 17px;
  left: 321px;
  top: 200px;
  padding-left: 6%;
  */
  text-align: center;
  float:left;
  width: 44px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;

  color: #35393C;
}



.alternate {
  margin: 0px 283px 0px 283px;
  position: fixed;
  width: 414px;
  height: 55px;
  left: 0px;
  background-color: #EAEAEA;
}

.alternateh2 {
  position: fixed;
  color: #35393C;
  padding: 15px 0 15px 0px;
  font-size: 20px;
  font-weight: normal;
}

.content {
  float: left;
  width: 60%;
  text-align: center;
}
